@media screen and (max-width: 900px) {
  .column {
    max-width: 100%;
  }
  .column div.cell {
    border-radius: 0;
    border: 0;
    box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .column div.cell_info {
    border: 1px solid #802ecc;
    border-radius: 36px 6px;
    margin-left: 4px;
    margin-right: 4px;
  }
}
@media screen and (max-width: 600px) {
  .first_part {
    flex: 100%;
    min-width: 100%;
  }
  .second_part {
    flex: 100%;
    margin-top: 16px;
  }
  [data-tooltip]:hover::after {
    display: none;
  }
}
@media screen and (max-width: 325px) {
  .header h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 300px) {
  .btn-exc {
    margin-left: 10px;
  }
}

/* Скролл */
/* Ширина */
::-webkit-scrollbar {
  width: 10px;
}
/* Дорожка */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
/* Ручка при наведении */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(180deg, orange 0%, red 99%);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #802ecc 0%, #00daae 99%);
  border-radius: 100px;
}

body {
  background: #000000;
  color: white;
}

.column {
  margin: auto;
  width: 900px;
}
.cell {
  margin-top: 14px;
  border: 1px solid #802ecc;
  border-radius: 6px;
  background-color: #11171d;
  padding: 12px 12px;
  overflow: hidden;
  -webkit-box-shadow: 4px 2px 12px -2px #802ecc;
  -moz-box-shadow: 4px 2px 12px -2px #802ecc;
  box-shadow: 4px 2px 12px -2px #802ecc;
}

.header {
  padding: 72px 14px;
  text-align: center;
}

.btn-style {
  padding: 6px 10px;
  font-size: 14px;
  background-color: #25384a;
  color: white;
  border: 1px solid #00daae;
  border-radius: 50px;
  overflow: hidden;
  width: auto;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.10) 0px 2px 2px, rgba(0, 0, 0, 0.15) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  transition: 1.5s;
}
.btn-style:hover {
  border: 1px solid #802ecc;
  -webkit-box-shadow: 4px 2px 12px -3px #802ecc;
  -moz-box-shadow: 4px 2px 12px -3px #802ecc;
  box-shadow: 4px 2px 12px -3px #802ecc;
  transition: 1.25s;
}

[data-tooltip] {
  position: relative; 
 }
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: auto;
  max-width: 250px;
  left: 56%; top: 0;
  border-radius: 2px 50px 50px 50px;
  background: #00daae60;
  color: #fff;
  font-size: 14px;
  padding: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: 1s;
} 
[data-tooltip]:hover::after {
  opacity: 1;
  top: 110%;
}

/* Первый блок */
.first_part {
  flex: 50%;
  max-width: 50%;
}
.avatar_img {
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #00daae;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-indent: 30px;
  padding: 12px;
  margin: 20px auto;
  width: 72%;
  background: linear-gradient(#1a232b, #25384a);
}
.challenge {
  display: flex;
  margin-top: 10px;
  text-decoration: none;
}

/* Второй блок */
.second_part {
  flex: 50%;
  padding-top: 14px;
}
.second_part h4 {
  margin: 0 0 10px 10px;
}
.my_contacts_soc span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.second_part a, .my_contacts_soc a:hover span {
  text-decoration: none;
  color: white;
}
.btn-journal {
  cursor: pointer;
  border: none; 
  background: none; 
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-size: 16px; 
  color: #00daae;
}
dd a:hover, .residency:hover a, .ls:hover, .btn-journal:hover {
  text-decoration: underline;
  color: white;
}
.my_contacts_soc {
  margin: 0px 0px 12px 0px;
}
.icon img {
  box-sizing: border-box;
  padding: 12px;
  float: left;
  max-width: 25%;
  transition: 0.2s;
  border-radius: 100px;
}
.icon img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  box-shadow: 0 0 5px 0.5px #00daae;
  padding: 2px;
  background-color: white;
  transition: 1s;
}

.flare, .my_contacts_soc a, dd a, .ls {
  color: #00daae;
  text-decoration: none;
}

.footer {
  border-bottom: none;
  border-radius: 54px 54px 0 0;
  margin-top: 38px;
  margin-bottom: -16px;
}

